<div class="tab-pane active">
  <div class="row">
    <nav>
      <form class="form-inline col-sm-1 col-sm-offset-7" ng-submit="ctrl.sync()">
        <div class="input-group">
          <button class="btn btn-default" type="submit">Sync</button>
        </div>
      </form>
      <form class="form-inline col-sm-4 search-control">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{'ACTION.SEARCH' | translate}}" ng-model="ctrl.query.name" />
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </form>
    </nav>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-sm-1">#</th>
        <th class="col-sm-3">
          <a href ng-click="ctrl.changeOrder('name')">{{'PARTICIPANT.ATTRIBUTES.NAME' | translate}}</a>
        </th>
        <th class="col-sm-3">
          <a href ng-click="ctrl.changeOrder('createdAt')">{{'PARTICIPANT.ATTRIBUTES.CREATED_AT' | translate}}</a>
        </th>
        <th class="col-sm-3">
          <a href ng-click="ctrl.changeOrder('updatedAt')">{{'PARTICIPANT.ATTRIBUTES.UPDATED_AT' | translate}}</a>
        </th>
        <th class="col-sm-2">{{'ACTION.ACTION' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="participant in ctrl.participants | filter:ctrl.query | orderBy:ctrl.predicate:ctrl.reverse | pager:ctrl.currentPage:ctrl.itemsPerPage">
        <td>{{$index + 1 + ctrl.itemsPerPage * (ctrl.currentPage - 1)}}</td>
        <td>{{participant.name}}</td>
        <td>{{participant.createdAt | date:'yyyy/MM/dd HH:mm'}}</td>
        <td>{{participant.updatedAt | date:'yyyy/MM/dd HH:mm'}}</td>
        <td><a href="/#{{Url.participantUrl(participant, null, 'detail')}}">{{'ACTION.SHOW' | translate}}</a>
      </tr>
    </tbody>
  </table>
  <pagination total-items="ctrl.participants | filter:ctrl.query | count" page="ctrl.currentPage" items-per-page="ctrl.itemsPerPage"></pagination>
</div>
