{% extends "base.html" %}
{% block content %}
    <h1>被験者を追加</h1>
    <form action="{{ create_participant_url(project.key()) }}" method="POST">
      <table class="table">
        <tr>
          <th>名前</th>
          <td>
            <input type="text" name="name"/>
          </td>
        </tr>
      </table>
      <input type="hidden" name="id" value="{{ project.key() }}"/>
      <input type="submit" class="btn btn-primary btn-large"/>
      <a href="{{ show_project_url(project.key()) }}" class="btn btn-large">キャンセル</a> 
    </form>
{% endblock %}
