{% extends "application.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <div width="100%" height="100%" style="margin:0; position:relative;">
      <svg id="display" width="100%" height="100%">
      </svg>
      <div id="controller2" class="controller">
        <button id="saveButton">保存</button>
        <button id="addItemButton">アイテムの追加</button>
      </div>
    </div>
    <form action="{{ update_participant_url(participant.key()) }}" method="POST">
      <input type="hidden" name="json"/>
    </form>
    <script>
      var grid;
      d3.select("#display")
        .call(initEgm)
        .attr("translate", new Translate(document.width / 2, document.height / 2))
        ;
      d3.select("#addItemButton").call(initAddItemButton);
      d3.select("#saveButton").call(initSaveButton);
      d3.json("{{ json_participant_url(participant.key()) }}", function (data) {
        console.log(data);
        data.nodes.forEach(function (node) {
          var bbox = d3.select("#measure").text(node.text).node().getBBox();
          node.width = bbox.width + 40;
          node.height = bbox.height + 40;
        });
        grid = new egm.Grid(data, true);
        draw(grid);
      });
    </script>
{% endblock %}
