<div class="row">
  <nav class="col-sm-4 col-sm-offset-8 search-control">
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{'ACTION.SEARCH' | translate}}" ng-model="ctrl.query.name" />
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </form>
  </nav>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-sm-1">#</th>
      <th class="col-sm-3">
        <a href ng-click="ctrl.changeOrder('name')">{{'PROJECT.ATTRIBUTES.NAME' | translate}}</a>
      </th>
      <th class="col-sm-3">
        <a href ng-click="ctrl.changeOrder('createdAt')">{{'PROJECT.ATTRIBUTES.CREATED_AT' | translate}}</a>
      </th>
      <th class="col-sm-3">
        <a href ng-click="ctrl.changeOrder('updatedAt')">{{'PROJECT.ATTRIBUTES.UPDATED_AT' | translate}}</a>
      </th>
      <th class="col-sm-2">{{'ACTION.ACTION' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="project in ctrl.projects | filter:ctrl.query | orderBy:ctrl.predicate:ctrl.reverse | pager:ctrl.currentPage:ctrl.itemsPerPage" ng-init="">
      <td>{{$index + 1 + ctrl.itemsPerPage * (ctrl.currentPage - 1)}}</td>
      <td>{{project.name}}</td>
      <td>{{project.createdAt | date:'yyyy/MM/dd HH:mm'}}</td>
      <td>{{project.updatedAt | date:'yyyy/MM/dd HH:mm'}}</td>
      <td><a href="/#{{Url.projectUrl(project, 'detail')}}">{{'ACTION.SHOW' | translate}}</a>
    </tr>
  </tbody>
</table>
<pagination total-items="ctrl.projects | filter:ctrl.query | count" page="ctrl.currentPage" items-per-page="ctrl.itemsPerPage"></pagination>
</div>
