<div class="tab-pane">
  <h2>{{'PROJECT.PROJECTS' | translate}}</h2>

  <ol class="breadcrumb">
    <li class="active">{{'PROJECT.PROJECTS' | translate}}</li>
  </ol>

  <ul class="nav nav-tabs">
    <li ui-sref-active="active">
      <a data-target="ui-sref" data-toggle="tab" href ui-sref="projects.all.list">{{'ACTION.LIST' | translate}}</a>
    </li>
    <li ui-sref-active="active">
      <a data-target="ui-sref" data-toggle="tab" href ui-sref="projects.all.create">{{'ACTION.NEW' | translate}}</a>
    </li>
  </ul>

  <div class="tab-content" ui-view="content"></div>
</div>
