<div class="tab-pane active" ng-controller="SemProjectListController as semProjects">
  <div class="row">
    <nav>
      <form class="form-inline col-sm-1 col-sm-offset-11" ng-submit="semProjects.sync()">
        <div class="input-group">
          <button class="btn btn-default" type="submit">Sync</button>
        </div>
      </form>
    </nav>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'SEM_PROJECT.ATTRIBUTES.NAME' | translate }}</th>
        <th>{{ 'ACTION.ACTION' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="semProject in semProjects.list">
        <td>{{ $index + 1 }}</td>
        <td>{{ semProject.name }}</td>
        <td><a href="/#{{Url.semProjectUrl(semProject, 'design')}}">{{ 'ACTION.SHOW' | translate }}</a>
      </tr>
    </tbody>
  </table>
</div>
