<div>
  <div class="navbar navbar-default navbar-fixed-top" style="top: 50px;">
    <div class="container">
      <form class="navbar-form navbar-left">
        <a class="btn btn-default" id="quitButton" ui-sref="projects.get.evaluation">{{'ACTION.QUIT' | translate}}</a>
      </form>
      <form class="navbar-form navbar-right">
        <a class="btn btn-default" id="filterButton">{{'ACTION.FILTER' | translate}}</a>
        <a class="btn btn-default" id="layoutButton">{{'EGM.APP.LAYOUT_SETTINGS' | translate}}</a>
      </form>
    </div>
  </div>
  <div id="svgContainer" style="position: absolute; left: 0; top: 100px; overflow: hidden;">
    <svg id="display" style="display: block;"></svg>
    <div id="nodeController" class="btn-group invisible" style="position: absolute; top: 0; left: 0;">
      <button id="removeNodeButton" class="btn" title="{{'ACTION.REMOVE' | translate}}"><i class="glyphicon glyphicon-remove"></i></button>
      <button id="mergeNodeButton" class="btn" title="{{'ACTION.MERGE' | translate}}"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
  </div>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <form class="navbar-form navbar-left">
        <a class="btn btn-default" id="undoButton"><i class="glyphicon glyphicon-arrow-left"></i>{{'ACTION.UNDO' | translate}}</a>
        <a class="btn btn-default" id="redoButton"><i class="glyphicon glyphicon-arrow-right"></i>{{'ACTION.REDO' | translate}}</a>
      </form>
      <form class="navbar-form navbar-right">
        <a ng-click="projectGrid.exportJSON($event)" class="btn btn-default" id="exportJSON" target="_blank"><i class="glyphicon glyphicon-floppy-save"></i>JSON {{'ACTION.EXPORT' | translate}}</a>
        <a class="btn btn-default" id="exportSVG" target="_blank"><i class="glyphicon glyphicon-floppy-save"></i>SVG {{'ACTION.EXPORT' | translate}}</a>
      </form>
    </div>
  </div>
</div>
