<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/#">collaboegm</a>
      <ul class="nav">
        <li><a>Help</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <style>
  #display {
    display: block;
  }
  </style>
  <svg id="display"></svg>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-right">
        <li><a id="appendNodeButton">アイテムの追加</a></button>
        <li class="dropdown">
          <a class="dropdown-toggle">操作<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="saveButton">保存</a></li>
            <li>
              <a id="quitButton" href="/#/participants/{{projectId}}/{{participantId}}">閉じる</a></li>
            <li class="divider"></li>
            <li id="undoButtonContainer" class="disabled"><a id="undoButton">取り消し</a></li>
            <li id="redoButtonContainer" class="disabled"><a id="redoButton">やり直し</a></li>
            <li class="divider"></li>
            <li><a id="layoutButton">レイアウト設定</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="nodeController" class="btn-group invisible" style="position: absolute; top: 0; left: 0;">
  <button id="ladderUpButton" class="btn"><i class="icon-arrow-left"></i></button>
  <button id="removeNodeButton" class="btn"><i class="icon-remove"></i></button>
  <button id="mergeNodeButton" class="btn"><i class="icon-plus"></i></button>
  <button id="editNodeButton" class="btn"><i class="icon-pencil"></i></button>
  <button id="ladderDownButton" class="btn"><i class="icon-arrow-right"></i></button>
</div>
<span id="ngClickProxy" class="invisible" ng-click="call(callback)"></span>
