<div>
  <div class="navbar navbar-default navbar-fixed-top" style="top: 50px;">
    <div class="container">
      <form class="navbar-form">
        <a class="btn btn-default" id="appendNodeButton"><i class="icon-pencil"></i>{{'ACTION.APPEND' | translate}}</a>
        <a class="btn btn-default" id="undoButton"><i class="icon-arrow-left"></i>{{'ACTION.UNDO' | translate}}</a>
        <a class="btn btn-default" id="redoButton"><i class="icon-arrow-right"></i>{{'ACTION.REDO' | translate}}</a>
        <a class="btn btn-default pull-right" id="saveButton"><i class="icon-share"></i>{{'ACTION.SAVE' | translate}}</a>
      </form>
    </div>
  </div>
  <div style="position: absolute; left: 0; top: 100px; overflow: hidden;">
    <svg id="display" style="display: block;"></svg>
    <div id="nodeController" class="btn-group invisible" style="position: absolute; top: 0; left: 0;">
      <button id="ladderUpButton" class="btn" title="{{'EGM.LADDER_UP' | translate}}"><span class="glyphicon glyphicon-arrow-left"></span></button>
      <button id="removeNodeButton" class="btn" title="{{'ACTION.REMOVE' | translate}}"><span class="glyphicon glyphicon-remove"></span></button>
      <button id="mergeNodeButton" class="btn" title="{{'ACTION.MERGE' | translate}}"><span class="glyphicon glyphicon-plus"></span></button>
      <button id="editNodeButton" class="btn" title="{{'ACTION.EDIT' | translate}}"><span class="glyphicon glyphicon-pencil"></span></button>
      <button id="ladderDownButton" class="btn" title="{{'EGM.LADDER_DOWN' | translate}}"><span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
  </div>
</div>
