<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/#">collaboegm</a>
      <ul class="nav">
        <li><a>Help</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <style>
  #display {
    display: block;
  }
  </style>
  <svg id="display"></svg>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <form class="navbar-form pull-right">
      <button id="appendNodeButton" class="btn">アイテムの追加</button>
      <button id="saveButton" class="btn">保存</button>
      <button id="undoButton" class="btn">取り消し</button>
      <button id="redoButton" class="btn">やり直し</button>
    </form>
  </div>
</div>
<span id="ngClickProxy" class="invisible" ng-click="call(callback)"></span>
