<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/#">E-Grid</a>
      <ul class="nav">
        <li><a>Help</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <style>
  #display {
    display: block;
  }
  </style>
  <svg id="display"></svg>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle">{{ 'ACTION.ACTION' | translate }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="quitButton" href="/#/projects/{{projectId}}">{{ 'ACTION.QUIT' | translate }}</a></li>
            <li><a id="exportButton">{{ 'ACTION.EXPORT' | translate }}</a></li>
            <li class="divider"></li>
            <li><a id="undoButton">{{ 'ACTION.UNDO' | translate }}</a></li>
            <li><a id="redoButton">{{ 'ACTION.REDO' | translate }}</a></li>
            <li class="divider"></li>
            <li><a id="filterButton">{{ 'ACTION.FILTER' | translate }}</a></li>
            <li><a id="layoutButton">{{ 'EGM.APP.LAYOUT_SETTINGS' | translate }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="nodeController" class="btn-group invisible" style="position: absolute; top: 0; left: 0;">
  <button id="removeNodeButton" class="btn" title="{{ 'EGM.APP.REMOVE_NODE' | translate }}"><i class="icon-remove"></i></button>
  <button id="mergeNodeButton" class="btn" title="{{ 'EGM.APP.MERGE_NODE' | translate }}"><i class="icon-plus"></i></button>
</div>
<span id="ngClickProxy" class="invisible" ng-click="call(callback)"></span>
