<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/#">collaboegm</a>
      <ul class="nav">
        <li><a>Help</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <style>
  #display {
    display: block;
  }
  </style>
  <svg id="display"></svg>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle">操作<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a id="quitButton" href="/#/participants/{{projectId}}/{{participantId}}">閉じる</a></li>
            <li class="divider"></li>
            <li><a id="layoutButton">レイアウト設定</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
