<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/#">collaboegm</a>
      <ul class="nav">
        <li><a>Help</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <style>
  #display {
    display: block;
  }
  </style>
  <svg id="display"></svg>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner">
    <form class="navbar-form pull-right">
      <button class="btn">閉じる</button>
    </form>
  </div>
</div>
