<div egm-application-view>
<h1>Help</h1>
<p>E-Gridによるインタビューについて説明します。</p>
<div class="row">
<div class="col-xs-9">
  <div id="help-egm">
    <h1>1. 評価グリッド法</h1>
  </div>
  <div id="help-preparation">
    <h1>2. 調査の準備</h1>
    <div id="help-design">
      <h2>2.1. リサーチデザイン</h2>
      <p>評価グリッド法による調査を開始する前に、調査の計画をしっかり立てましょう。</p>
      <p>検討するべき項目には以下のようなものがあります。</p>
      <ul>
        <li>調査によって明らかにしたいことは何か、事前にある程度仮説を立てておく</li>
        <li>どんな人に対して調査を行うか、回答者は調査対象にある程度の知識・関心を持っていることが望ましい</li>
        <li>エレメントを何にするか、実物や写真かあるいは回答者の記憶か、調査を通じて一貫していることが望ましい</li>
        <li>エレメントをどのように提示するか、全エレメントの組合わせを取れば網羅的な調査ができるがインタビューの負担は大きくなる</li>
        <li>インタビューをどのような形で行うか、対面以外にもビデオ通話やチャットで行う場合もある</li>
        <li>回答者は一度に一人かあるいは複数か、複数に同時に行う場合は質問の進め方に工夫がいる</li>
      </ul>
    </div>
    <div id="help-new-project">
      <h2>2.2. プロジェクトの作成</h2>
      <p>E-Gridでは、何人かへのインタビューを通じた一連の調査は「プロジェクト」として登録されます。</p>
      <p>プロジェクトの単位で共同調査者の設定や、インタビュー結果をまとめた分析が可能です。</p>
      <p>プロジェクト作成は以下の手順で行います。<p>
      <ol>
        <li>「新規」タブを選択します。</li>
        <li>プロジェクト名など必要な情報を入力します。</li>
        <li>「送信」ボタンを押します。</li>
      </ol>
      <p>作成したプロジェクトは一覧タブに表示されます。</p>
      <img src="images/help/new-project.png" class="img-responsive img-thumbnail"/>
    </div>
    <div id="help-new-participant">
      <h2>2.3. 実験参加者(インタビュー回答者)の登録</h2>
      <p>1回のインタビュー毎に、「実験参加者」を登録します。</p>
      <p>実験参加者の登録は以下の手順で行います。</p>
      <ol>
        <li>「実験参加者」タブの「新規」タブを選択します。</li>
        <li>「氏名」など必要な情報を入力します。</li>
        <li>「送信」ボタンを押します。</li>
      </ol>
      <img src="images/help/new-participant.png" class="img-responsive img-thumbnail"/>
    </div>
  </div>
  <div id="help-interview">
    <h1>3. インタビュー</h1>
    <div id="help-origina">
      <h2>3.1. オリジナル評価項目の抽出</h2>
      <p>回答者が対象に対して抱いている評価に関与する項目を「評価項目」と呼びます</p>
      <p>エレメント間の優劣を回答者に判断してもらい、その判断理由を訪ねることで、評価項目を抽出します。</p>
      <p>ここで得られる評価項目を特に「オリジナル評価項目」と呼びます。</p>
      <p>エレメントの提示方法には様々なバリエーションがありますが、ここでは讃井教授が初期に提案した方法に従います。</p>
      <p>まず、回答者に、エレメント群を「好ましい」ものから「好ましくない」ものまで5段階に分類してもらいます。</p>
      <p>説明のためこれらのグループを順番にA、B、C、D、Eと名付けます。</p>
      <p>エレメントの提示とオリジナル評価項目の抽出には以下のように質問をします。</p>
      <p>Q.「B〜EのエレメントよりもこちらのAのエレメントの方がより好ましいということですが、そう判断された理由のうちあなたにとって重要なものを、どんなものでもかまいませんので、思い付くまま、1つずつ言ってください。なお、これらのうち特定のものにだけあてはまる理由でもかまいません。」</p>
      <p>回答者が新しい評価項目を見いだせなくなったら次の組合わせに移り、「C〜EのエレメントよりもこちらのBのエレメントの方が〜」と質問を行います。</p>
      <p>「D、EのエレメントとCのエレメント」、「EのエレメントとDのエレメント」というように繰り返していきます。</p>
      <p>一連の質問を終えたら、最後に評価が高いグループの不満点を尋ねることで評価項目の補完を行うこともあります。</p>
      <p>抽出した評価項目は以下のような手順で逐一E-Gridに入力してください。</p>
      <ol>
        <li>インタビュー画面左上の「追加」ボタンを押します。</li>
        <li>評価項目入力ダイアログが開かれるので、抽出した評価項目を文章で入力する。この時、既に他の回答者から得られている評価項目のうち入力中の評価項目に近いものが一覧表示されるので、同じ内容を指す評価項目がある場合はそこから選択することで、分析時に類似評価項目を探索する手間が省けます。</li>
        <li>「送信」ボタン、またはリスト表示された評価項目の「選択」ボタンを押すことでオリジナル評価項目が追加されます。</li>
      </ol>
      <div class="row">
        <div class="col-xs-6">
          <img src="images/help/before-append-item.png" class="img-responsive img-thumbnail"/>
        </div>
        <div class="col-xs-6">
          <img src="images/help/input-item.png" class="img-responsive img-thumbnail"/>
        </div>
      </div>
    </div>
    <div id="help-laddering">
      <h2>3.2. ラダーリング</h2>
      <h3>3.2.1. ラダーアップ</h3>
      <div class="row">
        <div class="col-xs-6">
          <img src="images/help/before-ladder-up.png" class="img-responsive img-thumbnail"/>
        </div>
        <div class="col-xs-6">
          <img src="images/help/after-ladder-up.png" class="img-responsive img-thumbnail"/>
        </div>
      </div>
      <h3>3.2.2. ラダーダウン</h3>
      <div class="row">
        <div class="col-xs-6">
          <img src="images/help/before-ladder-down.png" class="img-responsive img-thumbnail"/>
        </div>
        <div class="col-xs-6">
          <img src="images/help/after-ladder-down.png" class="img-responsive img-thumbnail"/>
        </div>
      </div>
    </div>
  </div>
  <div id="help-analysis">
    <h1>4. 分析</h1>
  </div>
</div>
<div class="col-xs-3">
  <ul class="nav">
    <a href="#help-interview">インタビュー</a>
  </ul>
</div>
</div>
</div>
