<div>
  <h2>{{participant.name}}</h2>

  <ul class="breadcrumb">
    <li>
      <a href="/#/projects">{{ 'PROJECT.PROJECTS' | translate }}</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="/#/projects/{{participant.project.key}}">{{participant.project.name}}</a>
      <span class="divider">/</span>
    </li>
    <li class="active">
      {{participant.name}}
    </li>
  </ul>

  <div tabset>
    <div tab heading="{{ 'ACTION.DETAIL' | translate }}">
      <form class="form-horizontal" ng-submit="createParticipant()">
        <div class="control-group">
          <label class="control-label" for="name">{{ 'PARTICIPANT.ATTRIBUTES.NAME' | translate }}</label>
          <div class="controls">
            <input type="text" name="name" placeholder="{{ 'PARTICIPANT.ATTRIBUTES.PLACEHOLDERS.NAME' | translate }}" ng-model="participant.name"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="note">{{ 'PARTICIPANT.ATTRIBUTES.NOTE' | translate }}</label>
          <div class="controls">
            <textarea name="note" rows="3" placeholder="{{ 'PARTICIPANT.ATTRIBUTES.PLACEHOLDERS.NOTE' | translate }}" ng-model="participant.note"></textarea>
          </div>
        </div>
      </form>
    </div>

    <div tab heading="{{'EGM.EVALUATION_STRUCTURE' | translate}}" select="drawSvg()">
      <div ng-controller="ParticipantGridController as participantGrid">
        <a href="/#{{Url.participantGridUrl(participant.projectKey, participant.participantKey)}}" class="btn btn-primary btn-large">{{'ACTION.EDIT' | translate}}</a>
        <a href="/#{{Url.participantGridUrl(participant.projectKey, participant.participantKey)}}?disableCompletion=1" class="btn btn-primary btn-large">{{'ACTION.EDIT' | translate}}(テキスト補完なし)</a>
        <div style="height: 500px; border: solid;">
          <svg id="display" width="100%" height="100%"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
