<div egm-application-view>
  <h2>{{participant.name}}</h2>

  <ul class="breadcrumb">
    <li>
      <a href="/">プロジェクト</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="/#/projects/{{participant.project.key}}">{{participant.project.name}}</a>
      <span class="divider">/</span>
    </li>
    <li class="active">
      {{participant.name}}
    </li>
  </ul>

  <div tabset>
    <div tab heading="詳細">
      <form class="form-horizontal" ng-submit="createParticipant()">
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" name="name" placeholder="Participant Name" ng-model="participant.name"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="note">Note</label>
          <div class="controls">
            <textarea name="note" rows="3" placeholder="Note" ng-model="participant.note"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div tab heading="グリッド" select="gridTabSelected()">
      <a href="/#/participants/{{participant.project.key}}/{{participant.key}}/grid" class="btn">詳細</a>
      <a href="/#/participants/{{participant.project.key}}/{{participant.key}}/edit" class="btn">編集</a>
      <svg id="display"></svg>
    </div>
  </div>
</div>
