<div egm-application-view>
  <h2>{{project.name}}</h2>

  <ul class="breadcrumb">
    <li><a href="/">Projects</a> <span class="divider">/</span></li>
    <li class="active">{{project.name}}</li>
  </ul>

  <div tabset>
    <div tab heading="Detail">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" name="name" placeholder="Project Name" ng-model="project.name"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="note">Note</label>
          <div class="controls">
            <textarea name="note" rows="3" placeholder="Note" ng-model="project.note"></textarea>
          </div>
        </div>
      </form>
    </div>

    <div tab heading="Participants">
      <div tabset>
        <div tab heading="List">
          <h3>Participants</h3>
          <table class="table">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
            <tr ng-repeat="participant in participants">
              <td>{{$index + 1}}</td>
              <td>{{participant.name}}</td>
              <td><a href="/#/participants/{{projectId}}/{{participant.key}}">Show</a>
            </tr>
          </table>
        </div>

        <div tab heading="New">
          <h3>New Participant</h3>
          <form class="form-horizontal" ng-submit="createParticipant()">
            <div class="control-group">
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                <input type="text" name="name" placeholder="Participant Name" ng-model="newParticipant.name"/>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="note">Note</label>
              <div class="controls">
                <textarea name="note" rows="3" placeholder="Note" ng-model="newParticipant.note"></textarea>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <input type="submit" class="btn"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div tab heading="Evaluation Structure">
      <h3>Overall Evaluation Structure</h3>
      <a href="/#/projects/{{project.key}}/grid" class="btn">Show</a>
    </div>
  </div>
</div>
