<div egm-application-view>
  <h2>{{ 'PROJECT.PROJECTS' | translate }}</h2>

  <ul class="breadcrumb">
    <li class="active">{{ 'PROJECT.PROJECTS' | translate }}</li>
  </ul>

  <div tabset>
    <div tab heading="{{ 'ACTION.LIST' | translate }}">
      <h3>{{ 'PROJECT.LIST' | translate }}</h3>
      <table class="table">
        <tr>
          <th>#</th>
          <th>{{ 'PROJECT.ATTRIBUTES.NAME' | translate }}</th>
          <th>{{ 'ACTION.ACTION' | translate }}</th>
        </tr>
        <tr ng-repeat="project in projects">
          <td>{{$index + 1}}</td>
          <td>{{project.name}}</td>
          <td><a href="/#/projects/{{project.key}}">{{ 'ACTION.SHOW' | translate }}</a>
        </tr>
      </table>
    </div>

    <div tab heading="{{ 'ACTION.NEW' | translate }}">
      <h3>{{ 'PROJECT.NEW' | translate }}</h3>
      <form class="form-horizontal" ng-submit="createProject()">
        <div class="control-group">
          <label class="control-label" for="name">{{ 'PROJECT.ATTRIBUTES.NAME' | translate }}</label>
          <div class="controls">
            <input type="text" name="name" placeholder="{{ 'PROJECT.ATTRIBUTES.PLACEHOLDERS.NAME' | translate }}" ng-model="newProject.name"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="note">{{ 'PROJECT.ATTRIBUTES.NOTE' | translate }}</label>
          <div class="controls">
            <textarea name="note" rows="3" placeholder="{{ 'PROJECT.ATTRIBUTES.PLACEHOLDERS.NOTE' | translate }}" ng-model="newProject.note"></textarea>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn" value="{{ 'ACTION.SUBMIT' | translate }}"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
