<div>
  <div class="navbar navbar-default navbar-fixed-top" style="top: 50px;">
    <div class="container">
      <form class="navbar-form navbar-left">
        <a class="btn btn-default" id="undoButton"><span class="glyphicon glyphicon-arrow-left"></span>{{'ACTION.UNDO' | translate}}</a>
        <a class="btn btn-default" id="redoButton"><span class="glyphicon glyphicon-arrow-right"></span>{{'ACTION.REDO' | translate}}</a>
      </form>
      <form class="navbar-form navbar-right">
        <a class="btn btn-default" id="filterButton">{{'ACTION.FILTER' | translate}}</a>
        <a class="btn btn-default" id="layoutButton">{{'EGM.APP.LAYOUT_SETTINGS' | translate}}</a>
        <button class="btn btn-default" ng-click="projectGrid.save()">{{'ACTION.SAVE' | translate}}</button>
      </form>
    </div>
  </div>
  <div style="position: absolute; left: 0; top: 100px; overflow: hidden;">
    <svg id="display" style="display: block;"></svg>
    <div id="nodeController" class="btn-group invisible" style="position: absolute; top: 0; left: 0;">
      <button id="removeNodeButton" class="btn btn-default" title="{{'ACTION.REMOVE' | translate}}"><span class="glyphicon glyphicon-remove"></i></button>
      <button id="mergeNodeButton" class="btn btn-default" title="{{'ACTION.MERGE' | translate}}"><span class="glyphicon glyphicon-plus"></i></button>
      <button id="editNodeButton" class="btn btn-default" title="{{'ACTION.EDIT' | translate}}"><span class="glyphicon glyphicon-pencil"></span></button>
    </div>
  </div>
</div>
