<div>
  <h2>{{ semProject.name }}</h2>

  <ul class="breadcrumb">
    <li>
      <a href="/#/projects">{{ 'PROJECT.PROJECTS' | translate }}</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="/#/projects/{{semProject.project.key}}">{{semProject.project.name}}</a>
      <span class="divider">/</span>
    </li>
    <li class="active">
      {{ semProject.name }}
    </li>
  </ul>

  <div tabset>
    <div tab heading="{{ 'SEM.QUESTIONNAIRE.DESIGN' | translate }}">
      <div ng-controller="SemProjectEditController as questionnaire">
        <h2>アンケート設定</h2>
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">アンケート題名</label>
            <div class="controls">
              <input class="span6" type="text" placeholder="アンケート題名"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">アンケート説明</label>
            <div class="controls">
              <textarea class="span6" placeholder="アンケート説明"></textarea>
            </div>
          </div>
        </form>

        <h3>質問項目設定</h3>
        <div class="row">
          <div class="span8">
            <div id="sem-questionnaire-design-display">
              <svg width="100%" height="500px"></svg>
            </div>
          </div>
          <div class="span4" style="height: 500px; overflow: scroll;">
            <table class="table">
              <tr ng-repeat="item in questionnaire.items">
                <td>
                  <label class="checkbox">
                    <input type="checkbox" ng-model="item.checked" ng-change="questionnaire.updateGraph()"/>{{item.text}}
                  </label>
                </td>
                <td>{{item.weight}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div>
          <div ng-repeat="item in questionnaire.items | filter:questionnaire.checked">
            <form class="form-horizontal">
              <fieldset>
                <legend>{{ item.text }}</legend>
                <div class="control-group">
                  <label class="control-label">質問項目</label>
                  <div class="controls">
                    <input class="span6" type="text" value="{{ item.text }}"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">質問文</label>
                  <div class="controls">
                    <textarea class="span6" rows="3">{{item.text}}を5段階で評価してください。
1:悪い 5:良い</textarea>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div>
          <a class="btn btn-primary btn-large">{{ 'ACTION.SAVE' | translate }}</a>
        </div>
      </div>
    </div>

    <div tab heading="{{ 'SEM.QUESTIONNAIRE.QUESTIONNAIRE' | translate }}">
    </div>

    <div tab heading="{{ 'SEM.ANALYSIS' | translate }}" select="drawSemAnalysis()">
      <div ng-controller="SemProjectAnalysisController as analysis">
        <div id="sem-analysis-display">
          <div class="row">
            <div class="span10">
              <svg width="100%" height="500px"></svg>
            </div>
            <div class="span2">
              <table class="table">
                <tr ng-repeat="item in items">
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" ng-model="item.active" ng-change="removeNode()"/>{{ item.text }}
                    </label>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
