<div class="modal-header">
  <h3>{{ 'EGM.APP.LAYOUT_SETTINGS' | translate }}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">{{ 'EGM.APP.VIEWS.VIEWS' | translate }}</label>
      <div class="col-sm-8">
        <label class="radio"><input type="radio" ng-model="options.viewMode" ng-value="ViewMode.Normal"/>{{'EGM.APP.VIEWS.NORMAL' | translate}}</label>
        <label class="radio"><input type="radio" ng-model="options.viewMode" ng-value="ViewMode.Edge"/>{{'EGM.APP.VIEWS.EDGE' | translate}}</label>
        <label class="radio"><input type="radio" ng-model="options.viewMode" ng-value="ViewMode.EdgeAndOriginal"/>{{'EGM.APP.VIEWS.EDGE_AND_ORIGINAL' | translate}}</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{ 'EGM.APP.INACTIVE_NODE.INACTIVE_NODE' | translate }}</label>
      <div class="col-sm-8">
        <label class="radio"><input type="radio" ng-model="options.inactiveNode" ng-value="InactiveNode.Hidden"/>{{ 'EGM.APP.INACTIVE_NODE.HIDDEN' | translate }}</label>
        <label class="radio"><input type="radio" ng-model="options.inactiveNode" ng-value="InactiveNode.Transparent"/>{{ 'EGM.APP.INACTIVE_NODE.TRANSPARENT' | translate }}</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.SCALING.SCALING' | translate}}</label>
      <div class="col-sm-8">
        <label class="radio"><input type="radio" ng-model="options.scaleType" ng-value="ScaleType.None"/>{{'EGM.APP.SCALING.NONE' | translate}}</label>
        <label class="radio"><input type="radio" ng-model="options.scaleType" ng-value="ScaleType.Connection"/>{{'EGM.APP.SCALING.CONNECTION' | translate}}</label>
        <label class="radio"><input type="radio" ng-model="options.scaleType" ng-value="ScaleType.Weight"/>{{'EGM.APP.SCALING.WEIGHT' | translate}}</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.SCALING.MAX' | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="1" ng-model="options.maxScale"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.LINE_UP' | translate}}</label>
      <div class="col-sm-8">
        <label class="checkbox"><input type="checkbox" ng-model="options.lineUpTop"/>{{'EGM.UPPERMOST_EVALUATION_ITEM' | translate}}</label>
        <label class="checkbox"><input type="checkbox" ng-model="options.lineUpBottom"/>{{'EGM.LOWERMOST_EVALUATION_ITEM' | translate}}</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.RANK_DIRECTION.RANK_DIRECTION' | translate}}</label>
      <div class="col-sm-8">
        <label class="radio"><input type="radio" ng-model="options.rankDirection" ng-value="RankDirection.LR"/>{{'EGM.APP.RANK_DIRECTION.LR' | translate}}</label>
        <label class="radio"><input type="radio" ng-model="options.rankDirection" ng-value="RankDirection.TB"/>{{'EGM.APP.RANK_DIRECTION.TB' | translate}}</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">{{'EGM.APP.MINIMUM_WEIGHT' | translate}}</label>
      <div class="col-sm-8">
        <input class="form-control" type="number" min="1" ng-model="options.minimumWeight"/>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">{{ 'ACTION.CLOSE' | translate }}</button>
</div>
