body {
  margin: 0;
}


.controller {
  margin: 0;
  padding: 10px;
  background-color: gray;
}


#controller1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


#controller2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


.controller button {
  font-size: 1.5em;
}


#contents {
  position: absolute;
}


.element text, .radderButton text {
  font-size: 2em;
}


.element rect {
  fill: lightpink;
}


.element rect, .link, .dragLine {
  stroke: purple;
  stroke-width: 5;
}


.element.connected rect {
  fill: orange;
}


.element.selected rect, .element.droppable rect {
  fill: red;
}


.element.undroppable rect {
  fill: gray;
}


.radderButton {
  cursor: pointer;
}


.radderButton rect {
  fill: lightgray;
  stroke: black;
}


.invisible {
  visibility: hidden;
}
