body {
  margin: 0;
}


.controller {
  margin: 0;
  padding: 10px;
  background-color: gray;
}


#controller1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


#controller2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


#controller3 {
  position: absolute;
  top: 10px;
  left: 10px;
}


#controller4 {
  position: absolute;
  top: 10px;
  right: 10px;
}


.controller button {
  font-size: 1.5em;
}


#contents {
  position: absolute;
}


.element text, .radderButton text, text#measure {
  font-size: 2em;
}


text#measure {
  visibility: hidden;
}


.element rect {
  fill: lightpink;
}


.element rect, .link {
  stroke: purple;
  stroke-width: 5;
}

.link {
  fill: none;
}


.dragLine {
  stroke: blue;
  stroke-width: 5;
}


.element.connected rect {
  fill: orange;
  stroke: blue;
}

.link.connected {
  stroke: blue;
}


.element.selected rect, .element.droppable rect {
  fill: red;
}


.element.undroppable rect {
  fill: gray;
}


.element, .radderButton {
  cursor: pointer;
}


.radderButton rect {
  fill: lightgray;
  stroke: black;
}


.invisible {
  visibility: hidden;
}
