<!DOCTYPE html>
<html ng-app="collaboegm">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>E-Grid</title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/scripts/dagre.js"></script>
    <script src="/scripts/collaboegm.js"></script>
    <script src="http://hyperinfo.viz.media.kyoto-u.ac.jp/wsgi/websem/static/sem.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles/egm.css"/>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/#">E-Grid</a>
          <ul class="nav">
            <li><a href="/#/help">Help</a></li>
            <li><a href="/#/about">About</a></li>
          </ul>
          <ul class="nav nav-pills pull-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ user.nickname }}さん<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-header">Languages</li>
                <li><a ng-click="changeLanguage('ja')">Japanese</a></li>
                <li><a ng-click="changeLanguage('en')">English</a></li>
                <li class="divider"></li>
                <li><a href="{{ logoutUrl }}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 50px;">
      <div ng-view></div>
    </div>
  </body>
</html>
