<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/scripts/d3.js"></script>
    <script src="/scripts/dagre.js"></script>
    <script src="/scripts/egm.js"></script>
    <script src="/scripts/egm/grid.js"></script>
    <script src="/scripts/svg/rect.js"></script>
    <script src="/scripts/svg/transform.js"></script>
    <script src="/scripts/svg/point.js"></script>
    <link rel="stylesheet" href="/stylesheets/egm.css"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
