<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="scripts/jquery-2.0.0.js"></script>
    <script src="scripts/d3.js"></script>
    <script src="scripts/svg/viewBox.js"></script>
    <script src="scripts/svg/transform.js"></script>
    <script src="scripts/svg/rect.js"></script>
    <script src="scripts/egm.js"></script>
    <script>
      var data;

      $(function() {
        resetViewBox();

        $(window).resize(resizeViewBox);

        $("#resetPosButton").click(resetViewBox);
        $("#zoomInButton").click(zoomIn);
        $("#zoomOutButton").click(zoomOut);
        $("#resetZoomButton").click(resetZoom);

        $("#addItemButton").click(function() {
          var name = prompt("追加する要素の名前を入力してください");
          if (name) {
            data.nodes.push({
              index: data.nodes.length,
              text: name,
              layer: data.baseLayer,
              children: []
            });
            draw(data);
          }
        });

        $("#resetButton").click(function() {
          d3.json("data/empty.json", function(d) {
            d3.selectAll(".element, .link").remove();
            initData(d);
            data = d;
            draw(data);
          });
        });

        $("#data1Button").click(function() {
          d3.json("data/test2.json", function(d) {
            d3.selectAll(".element, .link").remove();
            initData(d);
            data = d;
            draw(data);
          });
        });

        $("#data2Button").click(function() {
          d3.json("data/kaikyo2.json", function(d) {
            d3.selectAll(".element, .link").remove();
            initData(d);
            data = d;
            draw(data);
          });
        });

        d3.select("#contents")
          .call(dragContents())
          .on("click", function() {
            unselectElement();
          })
          ;


        d3.selectAll(".radderButton")
          .each(function() {
            var bbox = this.lastChild.getBBox();
            var xOffset = - bbox.width / 2;
            if (this.id == "radderUpButton") {
              var yOffset = - bbox.height - 10;
            } else {
              var yOffset = - 10;
            }
            d3.select(this.firstChild)
              .attr("x", xOffset)
              .attr("y", yOffset)
              .attr("rx", 10)
              .attr("width", bbox.width + 20)
              .attr("height", bbox.height + 20)
              ;
            d3.select(this.lastChild)
              .attr("x", 10 + xOffset)
              .attr("y", bbox.height + 10 + yOffset)
              ;
          })
          ;
        d3.select("#radderUpButton")
          .call(radderUp)
          ;
        d3.select("#radderDownButton")
          .call(radderDown)
          ;

        d3.json("data/empty.json", function(d) {
          initData(d);
          data = d;
          draw(data);
        });
      });
    </script>
    <link rel="stylesheet" href="stylesheets/egm.css"/>
  </head>
  <body>
    <svg id="contents" width="100%" height="100%">
      <g id="elements">
      </g>
      <g id="links">
      </g>
      <g id="radderUpButton" class="radderButton invisible"><rect/><text>ラダーアップ</text></g>
      <g id="radderDownButton" class="radderButton invisible"><rect/><text>ラダーダウン</text></g>
    </svg>
    <div id="controller1" class="controller">
      <button id="resetButton">リセット</button>
      <button id="data1Button">オフィス</button>
      <button id="data2Button">海況</button>
    </div>
    <div id="controller2" class="controller">
      <button id="addItemButton">アイテムの追加</button>
      <button id="resetPosButton">中心に戻る</button>
      <button id="zoomInButton">拡大</button>
      <button id="resetZoomButton">元の大きさ</button>
      <button id="zoomOutButton">縮小</button>
    </div>
  </body>
</html>
