html {
  height: 100%;
}


body {
  margin: 0;
  height: 100%;
}


#alerts {
  left: 50%;
  margin-left: -470px; /* width / 2 */
  position: absolute;
  top: 40px;
  width: 940px; /* width - (margin-left + margin-right) */
  z-index: 999999;
}

.alert {
  padding: 7px 14px;
  margin-bottom: 1em;
}


.controller {
  margin: 0;
  padding: 10px;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
}


.controller button {
  font-size: 1.5em;
}


#contents {
  position: absolute;
}


.dragLine {
  stroke: blue;
  stroke-width: 5;
}


.element.connected rect {
  fill: orange;
  stroke: blue;
}

.link.connected {
  stroke: blue;
}


.element.selected rect, .element.droppable rect {
  fill: red;
}


.element.undroppable rect {
  fill: gray;
}


.invisible {
  visibility: hidden;
}



.tab-content {
  margin-top: 20px; /* @modal-inner-padding */
}

.search-control {
  margin-bottom: 20px;
}
