<div class="tab-pane active">
  <h2>{{participant.name}}</h2>

  <ol class="breadcrumb">
    <li>
      <a href="/#/projects">{{ 'PROJECT.PROJECTS' | translate }}</a>
    </li>
    <li>
      <a href="/#/projects/{{participant.project.key}}">{{participant.project.name}}</a>
    </li>
    <li class="active">
      {{participant.name}}
    </li>
  </ol>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href ui-sref="projects.get.participants.get.detail">{{'ACTION.DETAIL' | translate}}</a></li>
    <li><a data-toggle="tab" ui-sref="projects.get.participants.get.evaluation">{{'EGM.EVALUATION_STRUCTURE' | translate}}</a></li>
  </ul>

  <div class="tab-content" ui-view="content"></div>
</div>
