<div>
  <div class="row">
    <nav class="col-sm-4 col-sm-offset-8 search-control">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{'ACTION.SEARCH' | translate}}" ng-model="query" ng-keyup="search()" />
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </form>
    </nav>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th><a href>{{'PROJECT.ATTRIBUTES.NAME' | translate}}</a></th>
        <th><a href>{{'PROJECT.ATTRIBUTES.CREATED_AT' | translate}}</a></th>
        <th><a href>{{'PROJECT.ATTRIBUTES.UPDATED_AT' | translate}}</a></th>
        <th>{{'ACTION.ACTION' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects">
        <td>{{$index + 1}}</td>
        <td>{{project.name}}</td>
        <td>{{project.created_at | date}}</td>
        <td>{{project.updated_at | date}}</td>
        <td><a href="/#{{Url.projectUrl(project)}}">{{'ACTION.SHOW' | translate}}</a>
      </tr>
    </tbody>
  </table>
  <pagination total-items="size" page="currentPage" items-per-page="itemsPerPage"></pagination>
</div>
