{% extends "base.html" %}
{% block content %}
    <h1>{{ project.name }}</h1>

    <p>
      <a href="{{ create_participant_url(project.key()) }}" class="btn btn-primary">被験者を追加</a>
      <a href="{{ show_grid_url(project.key()) }}" class="btn">グリッド</a>
    </p>

    <table class="table">
      <tr>
        <th>#</th>
        <th>名前</th>
        <th>操作</th>
      </tr>
      {% for participant in participants %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ participant.name }}</td>
        <td>
          <a href="{{ show_participant_url(participant.key()) }}" class="btn">編集</a>
          <a href="{{ json_participant_url(participant.key()) }}" class="btn">エクスポート</a>
        </td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
