<div class="tab-pane active">
  <h2>{{project.name}}</h2>

  <ol class="breadcrumb">
    <li><a href ui-sref="projects.all.list">{{'PROJECT.PROJECTS' | translate}}</a>
    <li class="active">{{project.name}}</li>
  </ol>

  <ul class="nav nav-tabs">
    <li ui-sref-active="active">
      <a data-target="ui-sref" data-toggle="tab" ui-sref="projects.get.detail">{{'ACTION.DETAIL' | translate}}</a>
    </li>
    <li ng-class="{active: {{'projects.get.participants'|includedByState}}}">
      <a data-target="ui-sref" data-toggle="tab" ui-sref="projects.get.participants.all.list">{{'PARTICIPANT.PARTICIPANTS' | translate }}</a>
    </li>
    <li ui-sref-active="active">
      <a data-target="ui-sref" data-toggle="tab" ui-sref="projects.get.evaluation">{{'EGM.EVALUATION_STRUCTURE' | translate }}</a>
    </li>
    <li>
      <a data-target="ui-sref" data-toggle="tab" ui-sref="projects.get.analysis.list">{{'EGM.ANALYSIS' | translate }}</a>
    </li>
    <li ng-class="{active: {{'projects.get.collaborators'|includedByState}}}">
      <a data-target="ui-sref" data-toggle="tab" ui-sref="projects.get.collaborators.all.list">{{'COLLABORATOR.COLLABORATOR' | translate }}</a>
    </li>
  </ul>

  <div class="tab-content" ui-view="content"></div>
</div>
